# Build folder and log file
build/
build.log
Resources/
Resources/*
Resources/alloy
Resources/alloy/*
plugins/ti.alloy/plugin.pyc

.DS_Store

Resources/alloy/styles/tabViewTwo.js

Resources/alloy/styles/tabViewOneChild.js

Resources/alloy/styles/tabViewOneChild.js

Resources/alloy/styles/tabViewOne.js

Resources/alloy/styles/index.js

Resources/alloy/styles/MyThings.js

Resources/alloy/styles/EventDetail.js

Resources/alloy/styles/EventDetail.js

Resources/alloy/controllers/tabViewTwo.js

Resources/alloy/controllers/tabViewTwo.js

Resources/alloy/styles/EventDetail.js

Resources/alloy/styles/MyThings.js
